<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Github Link</title>
	<link href="https://github.com/gvikram31/EC500" rel="stylesheet">
    </head>

    <body>
        <h1>My Github Link</title>
	<link href="https://github.com/gvikram31/EC500">
        <h1 style="text-align:center">Testing the code of HW1</h1>
        <br>
        <p style="text-align: center">Please enter the folowing: </p>
        <form style="text-align: center" method="POST">
            Twitter Handle:  
            <input name="username">
            <br><br>
            &nbsp;
            Output Folder:  <input name="output">
            <br><br>
            Number of Images:  <input name="num">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
